*{
    box-sizing: border-box;
    font-family: monospace;
}

body{
    background-color: lightslategray;
}

.Headline{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    gap: 1em;
}



.game-section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 8em;
}



.player-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin-bottom: 3em;
    color: white;
}

.p-choice{
    display: flex;
    justify-content: center;
    gap: 3em;
    
}

.computer-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin-bottom: 3em;
    color: white;
}

.c-choice{
    display: flex;
    justify-content: center;
    gap: 3em;
    
}

.c-choice img:hover{
    transform: scale(1.2);
    transition: transform .20s ease;
}
.p-choice img:hover {
    transform: scale(1.2);
    transition: transform .20s ease;
}